<div class="container nxMainContainer">
  <div class="row">

    <div class="col s12 m12 l12">
      <div class="card">
        <table class="striped responsive-table">
          <thead>
            <tr>
              <th><input type="checkbox" /></th>
              <th>Name</th>
              <th>Updated</th>
              <th>By</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/image"><i class="mdi-image-crop-original"></i>Image</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/note"><i class="mdi-action-receipt"></i>Note</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/case"><i class="mdi-action-assignment"></i>Case</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
