<div class="container nxMainContainer">
  <div class="row">
    <div class="col s12 m3 l3">
      <div class="personal tree card-panel">
        <ul>
          <li>
            <a href="">
              <i class="mdi-hardware-keyboard-arrow-right"></i>
              <i class="mdi-file-folder"></i>My pictures
            </a>
          </li>
          <li>
            <a href="">
              <i class="mdi-hardware-keyboard-arrow-right"></i>
              <i class="mdi-file-folder"></i>My Files
            </a>
          </li>
          <li>
            <a href="">
              <i class="mdi-hardware-keyboard-arrow-down"></i>
              <i class="mdi-file-folder-open"></i>Todo
            </a>
            <ul>
              <li><a href=""><i class="mdi-file-folder"></i>September</a></li>
              <li><a href=""><i class="mdi-file-folder"></i>November</a></li>
              <li><a href=""><i class="mdi-file-folder"></i>December</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="col s12 m9 l9">
      <div class="card">
        <table class="striped responsive-table">
          <thead>
            <tr>
              <th><input type="checkbox" /></th>
              <th>Name</th>
              <th>Updated</th>
              <th>By</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/browse"><i class="mdi-file-folder"></i>My Pictures</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/browse"><i class="mdi-file-folder"></i>My Files</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/browse"><i class="mdi-file-folder"></i>Todo</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/image"><i class="mdi-image-crop-original"></i>Image</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/file"><i class="mdi-action-description"></i>File</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/note"><i class="mdi-action-receipt"></i>Note</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/image"><i class="mdi-image-crop-original"></i>Image</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/file"><i class="mdi-action-description"></i>File</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/note"><i class="mdi-action-receipt"></i>Note</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
