<div class="container nxMainContainer">
  <div class="row">
    <div class="col s12 m12 l12">
        <ul class="tasks collection">
          <li class="collection-item">
            <div class="task-title">
              <i class="mdi-content-content-paste circle blue"></i>
              <span class="title bold">Document Review</span>
            </div>
            <div>
              <i class="mdi-social-person"></i>
              <span class="title">Requested by Alain Escaffre</span>
            </div>
            <div>
              <i class="mdi-action-event"></i>
              <span class="title">Due date: Sept 12, 2015</span>
            </div>
          </li>
          <li class="collection-item">
            <div class="task-title">
              <i class="mdi-navigation-check circle green"></i>
              <span class="title bold">Approval</span>
            </div>
            <div>
              <i class="mdi-social-person"></i>
              <span class="title">Requested by Solen Guitter</span>
            </div>
            <div>
              <i class="mdi-action-event"></i>
              <span class="title">Due date: Sept 12, 2015</span>
            </div>
          </li>
          <li class="collection-item">
            <div class="task-title">
              <i class="mdi-navigation-arrow-forward circle blue"></i>
              <span class="title bold">Assignment</span>
            </div>
            <div>
              <i class="mdi-social-person"></i>
              <span class="title">Requested by Thierry Delprat</span>
            </div>
            <div>
              <i class="mdi-action-event"></i>
              <span class="title">Due date: Sept 12, 2015</span>
            </div>
          </li>
        </ul>
    </div>
  </div>
</div>
