<ul class="side-nav side-main fixed" id="nav-mobile">
  <li class="bold">
    <a class="waves-effect waves-blue tooltipped logo-home" data-position="right" data-tooltip="Home" ui-sref="home.dashboard"></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue active tooltipped" data-position="right" data-tooltip="View" href="">
    <i class="mdi-action-visibility" title="View"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Metadata" href="">
    <i class="mdi-action-info-outline" title="Metadata"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Publish" href="">
    <i class="mdi-action-assignment-turned-in" title="Publish"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Relations" href="">
    <i class="mdi-action-settings-ethernet" title="Relations"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Comments" href="">
    <i class="mdi-editor-mode-comment" title="Comments"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Attachments" href="">
    <i class="mdi-editor-attach-file" title="Attachments"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Activity" href="">
    <i class="mdi-action-restore" title="Activity"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Permissions" href="">
    <i class="mdi-communication-vpn-key" title="Permissions"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Administration" href="">
    <i class="mdi-action-settings" title="Administration"></i></a>
  </li>
  <li class="bold tree"><a class="waves-effect waves-blue tree-show tooltipped" data-position="right" data-tooltip="View Tree" href="#" ui-sref-active="active">
    <i class="mdi-file-folder-open" title="View Tree"></i></a>
  </li>
</ul>

<div class="tree-sidebar">
  <div class="tree title">Tree</div>
  <form class="col s12 select">
    <div class="row default-repository">
      <select class="browser-default">
        <option value="0" selected>Default Domain</option>
        <option value="1">Other domain</option>
        <option value="1">----------------</option>
        <option value="0" selected>Default Repository</option>
        <option value="1">Other repository</option>
      </select>
    </div>
  </form>
  <ul>
    <li><a href=""><i class="mdi-hardware-keyboard-arrow-right"></i>
      <i class="mdi-communication-email"></i>Cases</a></li>
    <li><a href=""><i class="mdi-hardware-keyboard-arrow-right"></i>
    <i class="mdi-action-receipt"></i>Invoices</a></li>
    <li>
      <a href="">
        <i class="mdi-hardware-keyboard-arrow-down"></i>
        <i class="mdi-file-folder"></i>Workspaces
      </a>
      <ul>
        <li><a href=""><i class="mdi-file-folder"></i>Workspace 1</a></li>
        <li><a href=""><i class="mdi-file-folder"></i>Workspace 2</a></li>
        <li><a href=""><i class="mdi-file-folder"></i>Workspace 3</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="nxblock">
<section class="top-nav">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#/browse" class="page-title">Workspace</a>/<a class="page-title">File</a>
      <div class="main-actions">
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Edit" title="edit">
          <i class="mdi-editor-mode-edit"></i>
        </a>
        <a class="waves-effect waves-light btn active tooltipped" data-position="bottom" data-tooltip="A Workflow is running" title="Launch Workflow">
          <i class="mdi-action-assignment-turned-in"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Add to Collection" title="add to collection">
          <i class="mdi-action-book"></i>
        </a>
        <a class="waves-effect waves-light btn active tooltipped" data-position="bottom" data-tooltip="Remove from Favorites" title="remove from favorites">
          <i class="mdi-action-grade"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Download" title="download">
          <i class="mdi-file-file-download"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Share" title="share">
          <i class="mdi-social-share"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Notify me" title="notify">
          <i class="mdi-social-notifications"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Add to Clipboard" title="add to clipboard">
          <i class="mdi-av-my-library-add"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Export" title="export">
          <i class="mdi-content-archive"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Lock" title="lock">
          <i class="mdi-action-lock-open"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Print" title="print">
          <i class="mdi-action-print"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<div class="container nxMainContainer summary">
  <div class="row">

    <div class="col s12 m8 l8">
      <div class="card file">
        <div class="card-content">
          <span class="card-title"><a href="#!"><i class="mdi-action-description"></i>File.pdf</a></span>
          <p><span class="size">133 kB</span></p>
        </div>
      </div>
      <div class="card-panel attachments">
        <h5><i class="mdi-editor-attach-file"></i>Attachments</h5>
        <p class="empty">+ Complete the document with additional files</p>
      </div>
    </div>

    <div class="col s12 m4 l4">
      <div class="card-panel">
        <h5>Activity</h5>
          <p><a ui-sref="settings.profile">Solen Guitter</a> has updated the version</p>
          <p><a ui-sref="settings.profile">Alain Escaffre</a> has edited the metadata</p>
          <p><a ui-sref="settings.profile">Lise Kemen</a> created Note</p>
      </div>
      <div class="widget">
        <ul class="collection">
          <li class="collection-item avatar">
            <img class="circle" alt="" src="images/avatar.png" />
            <span class="title">Created by <a ui-sref="settings.profile">Lise Kemen</a></span>
            <p>on July 15, 2015</p>
          </li>
        </ul>
      </div>
      <div class="card-panel">
        <h5>Contributors</h5>
          <p>
            <span class="badge tag user">Lise Kemen</span>
            <span class="badge tag user">Alain Escaffre</span>
            <span class="badge tag user">Solen Guitter</span>
          </p>
      </div>
      <div class="card-panel">
        <h5>Tags</h5>
          <p>
            <span class="badge tag">Nuxeo</span>
            <span class="badge tag">Note</span>
            <span class="badge tag">rest api</span>
          </p>
      </div>
    </div>

  </div>
</div>
</div>

<script>
  $(document).ready(function() {
    $('.tooltipped').tooltip({delay: 5});
    $('.top-nav').pushpin({ top: $('nav').height() });
    $('.tree-show').click(function(){
      document.body.classList.toggle('showing-tree-sidebar');
    })
  });
</script>
