<ul class="side-nav side-main fixed" id="nav-mobile">
  <li class="bold">
    <a class="waves-effect waves-blue tooltipped logo-home" data-position="right" data-tooltip="Home" ui-sref="home.dashboard"></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue active tooltipped" data-position="right" data-tooltip="View" href="">
    <i class="mdi-action-visibility" title="View"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Metadata" href="">
    <i class="mdi-action-info-outline" title="Metadata"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Publish" href="">
    <i class="mdi-action-assignment-turned-in" title="Publish"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Relations" href="">
    <i class="mdi-action-settings-ethernet" title="Relations"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Comments" href="">
    <i class="mdi-editor-mode-comment" title="Comments"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Attachments" href="">
    <i class="mdi-editor-attach-file" title="Attachments"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Activity" href="">
    <i class="mdi-action-restore" title="Activity"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Permissions" href="">
    <i class="mdi-communication-vpn-key" title="Permissions"></i></a>
  </li>
  <li class="bold"><a class="waves-effect waves-blue tooltipped" data-position="right" data-tooltip="Administration" href="">
    <i class="mdi-action-settings" title="Administration"></i></a>
  </li>
  <li class="bold tree"><a class="waves-effect waves-blue tree-show tooltipped" data-position="right" data-tooltip="View Tree" href="#" ui-sref-active="active">
    <i class="mdi-file-folder-open" title="View Tree"></i></a>
  </li>
</ul>

<div class="tree-sidebar">
  <form class="col s12 select">
    <div class="tree title">Tree</div>
    <div class="row default-repository">
      <select class="browser-default">
        <option value="0" selected>Default Domain</option>
        <option value="1">Other domain</option>
        <option value="1">----------------</option>
        <option value="0" selected>Default Repository</option>
        <option value="1">Other repository</option>
      </select>
    </div>
  </form>
  <ul>
    <li><a href=""><i class="mdi-hardware-keyboard-arrow-right"></i>
      <i class="mdi-communication-email"></i>Cases</a></li>
    <li><a href=""><i class="mdi-hardware-keyboard-arrow-right"></i>
    <i class="mdi-action-receipt"></i>Invoices</a></li>
    <li>
      <a href="">
        <i class="mdi-hardware-keyboard-arrow-down"></i>
        <i class="mdi-file-folder"></i>Workspaces
      </a>
      <ul>
        <li><a href=""><i class="mdi-file-folder"></i>Workspace 1</a></li>
        <li><a href=""><i class="mdi-file-folder"></i>Workspace 2</a></li>
        <li><a href=""><i class="mdi-file-folder"></i>Workspace 3</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="nxblock">
<section class="top-nav">
  <div class="container">
    <div class="nav-wrapper">
      <a href="#/browse" class="page-title">Workspace</a>/
      <a class="page-title">Invoice: <span class="tag">20150714-ACC-277  Jul 14, 2015</span></a>
      <div class="main-actions">
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Edit" title="edit">
          <i class="mdi-editor-mode-edit"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="A Workflow is running" title="Launch Workflow">
          <i class="mdi-action-assignment-turned-in"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Add to Collection" title="add to collection">
          <i class="mdi-action-book"></i>
        </a>
        <a class="waves-effect waves-light btn active tooltipped" data-position="bottom" data-tooltip="Remove from Favorites" title="remove from favorites">
          <i class="mdi-action-grade"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Download" title="download">
          <i class="mdi-file-file-download"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Share" title="share">
          <i class="mdi-social-share"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Notify me" title="notify">
          <i class="mdi-social-notifications"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Add to Clipboard" title="add to clipboard">
          <i class="mdi-av-my-library-add"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Export" title="export">
          <i class="mdi-content-archive"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Lock" title="lock">
          <i class="mdi-action-lock-open"></i>
        </a>
        <a class="waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Print" title="print">
          <i class="mdi-action-print"></i>
        </a>
      </div>
    </div>
  </div>
</section>


<div>
<div class="container nxMainContainer summary">
  <div class="row">

    <div class="col s12 m9 l9">
      <div class="card-panel">
        <h5>Invoice Infos</h5>
        <a class="waves-effect waves-light btn card-edit" title="edit">
          <i class="mdi-editor-mode-edit"></i>
        </a>
        <table class="responsive-table label-field">
          <tbody>
            <tr>
              <td>Incident id</td>
              <td>20150414-BDN-4</td>
              <td>Contract id</td>
              <td>E0EFE57255</td>
            </tr>
            <tr>
              <td>First name</td>
              <td>EDMUNDO</td>
              <td>Last name</td>
              <td>BARRERD</td>
            </tr>
            <tr>
              <td>Phone main</td>
              <td></td>
              <td>Phone other</td>
              <td></td>
            </tr>
            <tr>
              <td>Incident kind</td>
              <td>Breakdown</td>
              <td>Open date</td>
              <td>Apr 15, 2015</td>
            </tr>
            <tr>
              <td>Incident date</td>
              <td>Apr 14, 2015</td>
              <td>Incident description</td>
              <td></td>
            </tr>
            <tr>
              <td>Why rejected</td>
              <td></td>
              <td>Incident address</td>
              <td></td>
            </tr>
            <tr>
              <td>Date request valuation</td>
              <td></td>
              <td>Incident city</td>
              <td>Boston</td>
            </tr>
            <tr>
              <td>Incident state</td>
              <td>Massachusetts</td>
              <td>Incident weather</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card">
        <table class="striped responsive-table">
          <thead>
            <tr>
              <th><input type="checkbox" /></th>
              <th>Title</th>
              <th>Modified</th>
              <th>By</th>
              <th>Version</th>
              <th>State</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/browse"><i class="mdi-file-folder"></i>Mails - Olds</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Alan Smith</a></td>
              <td></td>
              <td>Project</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/browse"><i class="mdi-file-folder"></i>Misc Files</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Julie Valid</a></td>
              <td></td>
              <td>Project</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/browse"><i class="mdi-social-group"></i>People</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td>Project</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
            <tr>
              <td><input type="checkbox" /></td>
              <td><a ng-href="#/image"><i class="mdi-image-collections"></i>Photos</a></td>
              <td>Jun 20, 2014</td>
              <td><a ui-sref="settings.profile">Lise Kemen</a></td>
              <td>3.3</td>
              <td>Project</td>
              <td class="actions">
                <div>
                  <a href=""><i class="mdi-editor-mode-edit"></i>edit</a>
                  <a href=""><i class="mdi-file-file-download"></i>download</a>
                  <a href=""><i class="mdi-action-delete"></i>delete</a>
                <div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col s12 m3 l3">
      <div class="card-panel">
        <h5>Status</h5>
          <p><span class="new badge tag">Not ready to archive</span>
          <span class="new badge tag light">Version 0.1</span></p>
          <p><i class="mdi-action-event"></i><span class="title">Due date: Sept 12, 2015</span></p>
      </div>
      <div class="card-panel">
        <h5>Process</h5>
          <p>No process can be started on this document.</p>
      </div>
      <div class="widget">
        <ul class="collection">
          <li class="collection-item avatar">
            <img class="circle" alt="" src="images/avatar.png" />
            <span class="title">Created by <a ui-sref="settings.profile">Lise Kemen</a></span>
            <p>on July 15, 2015</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  $(document).ready(function() {
    $('.tooltipped').tooltip({delay: 5});
    $('.top-nav').pushpin({ top: $('nav').height() });
    $('.tree-show').click(function(){
      document.body.classList.toggle('showing-tree-sidebar');
    })
  });
</script>
